/* Reset */

html, body{
	margin:0;
	padding:0;
	border:0;
	background:transparent;
	font-size:10px;
}

div, span, article, aside, footer, header, nav, section,h1, h2, h3, h4, h5, h6, p, blockquote, a, ol , ul, li, tbale, tr, th, td, tbody, tfoot, thead {
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline;
	background:transparent;
}

img {
	margin:0;
	padding:0;
	border:0;
}

table, tr, th, td, tbody, tfoot, thead {
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline;
	background:transparent;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

input, select, textarea, form, fieldset {
	margin:0;
	padding:0;
	border:0;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
	display:block;
}

h1, h2, h3, h4, h5, h6, p, blockquote, a, li, th, td, caption, em, strong, strike {
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
	font-weight:normal;
	font-style:normal;
	line-height:100%;
	text-indent:0;
	text-decoration:none;
	text-align:left;
	color:#000;
}

ol, li {
	list-style:none;
}

/* Global */
html {
	
}
body {
	
	background-color:#FFFFFF;
	
}

/* Fonts */
/*
@font-face {
    font-family: 'ArmWrestlerBold';
    src: url('../fonts/ArmWrestler-webfont.eot');
    src: url('../fonts/ArmWrestler-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ArmWrestler-webfont.woff') format('woff'),
         url('../fonts/ArmWrestler-webfont.ttf') format('truetype'),
         url('../fonts/ArmWrestler-webfont.svg#ArmWrestlerBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/
/* Headings */

h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	color:#000;
}

h1 { font-size:24px; }
h2 { font-size:20px; }
h3 { font-size:16px; }
h4 { font-size:14px; }
h5 { font-size:14px; }
h6 { font-size:14px; }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
	margin:0;
}

/* Text Elements */

p 			{ color:#000; font-size:12px; line-height:150%; }
p .left 	{ margin:1.5em 1.5em 1.5em 0; padding:0; }
p .right 	{ margin:1.5em 0 1.5em 1.5em; padding:0; }

a 			{  }
a:link 		{ color:#00f; }
a:visited 	{ color:#990C99; }
a:active 	{ color:#000; }
a:focus 	{ color:#666; }
a:hover 	{ color:#f00; }

blockquote  { color:#000; font-size:12px; }

strong		{ font-weight:bold; }
em			{ font-style:italic; }

/* Images */

/* Lists */
ul { }
ol { list-style-type:decimal; }

ul li { color:#000; font-size:12px; }
ol li { color:#000; font-size:12px; }

dl { }
dt { }
dd { }

/* Tables */

table 			{ width:100%; }
tr				{ }
.odd 			{ background-color:#eee; }
.even 			{ background-color:#ccc; }

th				{ font-weight:bold; }
thead, th 		{ background:#ccc; }

tbody			{ }

th, td, caption { }
caption 		{ }

tfoot			{ }
.tfooter		{ background-color:#ccc; text-align:center; font-style:italic; }

caption			{ background:#efefef; }

/* Containers */

#wrapper {
	width:1024px;
	margin:0 auto;
	background-color: #FFFFFF;
}

#top { background-color:#FFFFFF; width:100%; height:20px; border-bottom:2px #3E78FD solid; }

#banner { border-bottom:2px #3E78FD solid; }

#topnav {  }
#topnav ul {
	width:100%;
        background-color: #FFFFFF;
	float:left;
	border-bottom:2px #3E78FD solid; 
}
#topnav ul li{ display:inline }
#topnav ul li a{
	padding:10px 20px;
	float:bottom;
	color: #DE3724;
	font-size:14px;
	font-weight:bold;
}

#topnav a:hover {
	color:#000;
}

#subbanner {
	width: 100%;
	border-bottom:2px #3E78FD solid;
	background-color: #FFFFFF;
	height: 350px;
	overflow:hidden;
}
#s3slider {
	width:100%;
	height:350px;
	position:relative;
	overflow:hidden;
	background-color: #FFFFFF;
}
.s3sliderImage span {
	position:absolute;
	font:Arial, Helvetica, sans-serif;
	font-size:15px;
	padding:10px 13px;
	color:#FFF;
	background-color:#000;
	width:998px;
	display:none;
	opacity:0.7;
	-moz-opacity:0.7;
	filter:alpha (opacity=70);
}
.s3sliderImage {
	float:left;
	position:relative;
	display:none;
}

#s3sliderContent {
	width:100%;
	height:450;
	position:absolute;
	margin-left:0;	
}


.clear {
	clear:both;
}
.top {
	top:0;
	left:0;
	width:746px;
	height:40px;
}
.bottom {
	bottom:0;
	left:0;
	width:746px;
	height:40px;
}

.right {
	right:0;
	bottom:0;
	width:150px !important;
	height:440px;
}

.left {
	top:0;
	left:0;
	width:150px !important;
	height:440px;
}

#content{
	width:650px;
	 float:left;
	 padding:20px;
	 background-color: #FFFFFF;
}

#content h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size:36px;
	font-weight:bold;
	margin:1em 0 .5em 0;
}
#content h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	margin:1em 0 .5em 0;
	color:#012D58;
}
#content p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	line-height:160%;
	margin:1em 0 .5em 0;
}

#content ul {
	list-style-position:outside;
}
#content ul li {
	font-size:14px;
	font-family:"Times New Roman", Times, serif;
	list-style-position:outside;
	list-style-type:square;
	margin-left:20px;
}

#rightside{
	width:280px;
	float:left;
	padding:20px;
	margin:0 0 .5em 0;
}

#rightside ul li img{
        
	text-align: center;
}
#rightside h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	margin:1em 0 .5em 0;
	color: #60F;
}
#rightside p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	line-height:160%;
	margin:1em 0 .5em 0;
}

#social-media {
	margin-top:30px;
}

#social-media li {
	display:inline;
	margin-right:15px;
}

#footer{
	clear:both;
	width:100%;
	background-color: #FFFFFF;
	padding:10px 0;
	border-top: 2px #3E78FD solid;
}

#footer p{
	text-align:center;
} 

/* Gallery */

#gallery ul li{
	list-style:none;
	display:inline;
}

#gallery ul li img{
	padding:5px;
	margin:5px;
	border: 1px #66C solid;
}
/* Layout Extra */


/* Navigation Extra */


/* Forms */

form ol{
	list-style-type:none;
}

form {
	text-align:left;
	margin:20px
}

label {
	float:left;
	width:150px;
	text-align:right;
	display:block;
}

submit{
	background:none;
}

input {
	width:280px;
	margin:0 0 16px 10px;
	border:1px #bbb solid;
	padding:5px;
	background:none;
}

input:focus, textarea:focus{
	background-color:#FF9;
}

input.invalid {
	background-color: #FF9;
	border: 2px red inset;
}

label.invalid {
	color: #F00;
	font-weight: bold;
}

textarea{
	width:280px;
	height:150px;
	margin:0 0 16px 10px;
	border:1px #bbb solid;
	padding:5px;
	background:none;
}

select { margin-bottom:20px; }

.month{ margin-left:155px; }

.submit {
	width:90px;
	height:25px;
	margin-left:160px;
	font-size:12px;
}

br { clear:left; }

.clear { clear:both; }


/* projects
------------------------------------------------------*/
.project-item{
	width:450px; 
	float:left; 
	padding-bottom:10px;
	margin-bottom:30px;
	border-bottom:1px #012D58 solid;
}
.spacer-content{
	width:60px; 
	float:left; 
	display:block; 
	height:100%;
}
.projects-icon{
	width:150px; 
	height:100px; 
	float:left;
}
.quote-bg{
	width:573px;
	height:35px;
	background-image:url(../images/quote-bg.jpg);
	padding:0px 24px;	
	float:left;
}
.quote-spacer{
	width:30px; 
	height:17px; 
	margin-top:8px; 
	background-image:url(../images/front-devider.png); 
	background-repeat:repeat-y; 
	display:block; 
	float:left; 
}
.quote-text{
	width:426px;
	font-size:11px;
	color:#a3a2a2;
	padding:10px 0px;
	float:left;
}
.quote-heading{
	font-size:16px;
	color:787878;
	float:left;
	padding:6px 0px;
}
.portfolio-feature{
	width:464px;
	margin-top:20px;
	float:left;
}
.pf-feat-img{
	width:151px;
	margin-top:5px;
	float:left;
}
.pf-feat-text{
	width:313px;
	float:left;
}
#maincontent2{
	
	background-image:url(../images/top-content-inner.png);
	background-repeat:repeat-x;
	background-position:top;
	padding:20px 0px 35px 0px; 
	float:left;
}

#publications { }
#publications ul { list-style-image: url("../images/arrow.png"); color:#eee; font-size:18px; list-style-position:outside;list-style-type:disc;}
#publications ul li { line-height:30px; }
#publications h6{font-size: 13px;}


#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

