<!DOCTYPE HTML>
<!--
Linear by TEMPLATED
templated.co @templatedco
Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
	<title>SCoRe</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="icon" href="{{ site.url }}/assets/images/favicon.png" type="image/gif">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{{ site.url }}/assets/js/skel.min.js"></script>
	<script src="{{ site.url }}/assets/js/skel-panels.min.js"></script>
	<script src="{{ site.url }}/assets/js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="{{ site.url }}/assets/css/skel-noscript.css" />
		<link rel="stylesheet" href="{{ site.url }}/assets/css/style.css" />
		<link rel="stylesheet" href="{{ site.url }}/assets/css/style-desktop.css" />
	</noscript>
</head>
<body style="background-color:#fff">

	<!-- Header -->
	<div id="header">
		{% include nav.html %}

	</div>
	<!-- Header -->
	<div class="main-wrapper" style="    min-width: 678px;
		max-width: 978px;
		margin: auto;
		clear: both;
		    padding-top: 60px;" >
	{{ content }}
	</div>


<!-- Copyright -->
<div id="copyright" style="    background: #161616;">
	<div class="container" style="color:#fff">
					©Copyright 2014 Sustainable Computing Research (SCoRe)
	</div>
</div>

</body>
</html>
